#  Local .terraform directories
**/.terraform/*
.terraform

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# vscode workspace configuration
.vscode

# Ansible retry files
*.retry

# packer var-file
# TODO: this should be replaced with Vault secrets eventually
secrets.packer.json
